[http]
        proxy = http://proxy:8080
[user]
        email = sahrens@micron.com
        name = Scott Ahrens
[diff]
    tool = tkdiff
[difftool]
    prompt = false
[remote "origin"]
	prune = true
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	unstage = reset HEAD --
	last = log -l HEAD
